/* GENERAL */
*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 22px;
}

h3{
    font-size: 18px;
    color: #b90032;
}


.container{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: auto;
}

.btn-red
{
    border: none;
    background-color: #b90032;
    color: #FFF;
    width: 236px;
    padding: 12px 0 !important;
    text-align: center;
}

p{
    font-size: 16px;
}

section{
    max-width: 1160px;
    margin: 80px auto 0 auto;
}

/* HEADER */

header
{
    background-color: #8fb900;
    color: #FFF;
}

.btn{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #FFF;
    font-weight: bold;
    display: block;
}

header a:hover{
    color:  #8fb900;
    background-color: #FFF;
}

@media all and (max-width: 380px){
    header .container{
        flex-direction: column;
    }
}

/* SECTION MAIN IMAGE */

.main-image{
    position: relative;
}

.main-image img{
    width: 100%;
}

.main-image div{
    background-color: rgba(185, 0, 50, 0.4);   
    height: 55px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
}

.main-image p{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    margin: 0 17px;
}

@media all and (max-width: 500px){
    .main-image div{
        position: static;
        height: auto;
    }
}

/* ITEMS */

.item{
    margin-top: 25px;
    width: 280px;
    border: 1px solid #b90032;
}

.item-description{
    padding: 10px;
}

.container-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* BUSINESS */

.business{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

business-img{
    width: 570px;
}

.business img{
    width: 100%;
}

.description-business{
    width: 570px;
}


/* FOOTER */

footer{
    background-color: #8fb900;
    color: #FFF;
    margin-top: 80px;
}

footer a{
    color: #FFF;
    text-decoration: none;
    font-weight:700;
    margin-left: 10px;
}

footer p{
    font-size: 22px;
    font-weight:600;
}

@media all and (max-width: 540px){
    footer .container{
        flex-direction: column;
    }
}